@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
body {
    padding: 0;
    padding-top: 100px;
    
}

/* Set padding to keep content from hitting the edges */
.container-fluid.body-content {
    padding: 0;
    padding-left: 0;
    padding-right:0;
    margin: 0;
    padding-top: 3em;
}
    .container-fluid.body-content > h2,
    .container-fluid.body-content > h3,
    .container-fluid.body-content > h4,
    .container-fluid.body-content > button,
    .container-fluid.body-content > div,
    .container-fluid.body-content > .row,
    .container-fluid.body-content > .form-group,
    .container-fluid.body-content > form {
        padding-left: 3.4rem;
        padding-right: 3rem;
    }
    .navbar {
        box-shadow: rgba(0,0,0,0.3) 0 2px 7px;
    }
/* Set width on the form input elements since they're 100% wide by default */
input,
select, 
textarea {
    max-width: 500px;
}

#imp {
    margin: 0 ;
    padding: .9rem;
    margin-top: 0;
    margin-bottom: 0;
}


.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

#header {
    margin-top: -40px;
    background-color: rgb(45, 170, 166);
    padding: 2em;
    font-family: Raleway, Calibri;
}
.start{
    border-radius: 2rem;
}

.course {
    margin-top: -40px;
    padding: 3em;
    background-color: rgb(60, 100, 194);
    font-family: Raleway, Calibri;
}

#course_1 {
    background-color: rgb(60, 100, 194);
}
#course_2 {
    background-color: rgb(60, 100, 194);
}
#course_3 {
    background-color: rgb(45, 170, 166);
}
#course_4 {
    background-color: #9385f5;
}
#course_5 {
    background-color: #6400e4;
}
#course_6 {
    background-color: rgb(45, 170, 166);
}
#course_7 {
    background-color: rgb(45, 170, 166);
}
#course_8 {
    background-color: rgb(14, 160, 231);
}
#course_9 {
    background-color: #dc00a7;
}


.btn{
    border-radius: 2rem;
    

}
#btn-edit,
#btn-upload{
    margin-left: 3em;
}
#card1, #card {
    border-top: 8px solid rgb(45, 170, 166);
}
svg{
    position: absolute;
    top: -5px; right: 0;
}
.fa-plus-circle{
    color: rgb(45, 170, 166);
}

.bg-zelena {
    background-color: rgb(45, 170, 166);
}
#catalog{
    padding:10px;
    box-shadow: 0 2px 5px #c0c0c0;
}
#langs, #langs tr{
    border-collapse: collapse;
}

.page-item.active,
.page-item.active .page-link{
    background-color: gray !important;
    border-color: gray !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c0c0c0;
    background: #ffffff;
    font-weight: normal;
    color: #333;
    font-family: Raleway, Calibri;
}
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
        border: 1px solid rgb(45, 170, 166);
        background: rgb(45, 170, 166);
        font-weight: normal;
        color: #ffffff;
        font-family: Raleway, Calibri;
    }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid rgb(45, 170, 166);
    background: rgb(45, 170, 166);
    color: #ffffff;
    font-family: Raleway, Calibri;
}

#Student_BirthDate,
#Enrolment_EnrolledAt {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    max-width: 500px;
}
.bg-ljubicasta {
    border: thin solid#6400e4;
    background-color: white;
    color: #6400e4;
}
.plans{
    font-family: "Roboto", Arial, sans-serif;
    margin: auto;
    margin-left: 1em;
    padding: 2em 0;
}
main{
    overflow-x: hidden;
    margin-top:-2em;
}
p {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.fa-code {
    color: rgb(45, 170, 166);
}
